@model BudgetTracker.Models.Budget

@{
    ViewData["Title"] = "Create";
}

<h2>Add New Budget Item</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Budget</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="name" class="col-md-2 control-label">Item Name</label>
            <div class="col-md-10">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="amount_budget" class="col-md-2 control-label">Monthly Amount</label>
            <div class="col-md-10">
                <input asp-for="amount_budget" class="form-control" />
                <span asp-validation-for="amount_budget" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
