@model BudgetTracker.Models.Budget

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="id" />
        <dt>
            Budget Item
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Monthly Amount
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount_budget)
        </dd>
        <dt>
            Added
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt>
            Last updated
        </dt>
        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
